.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  &.dark {
    background-color: var(--color-dark-gray-1);

    & .toggle {
      background-color: var(--color-dark);
      & i {
        color: var(--color-light-gray);
      }
    }
    & .card {
      background-color: var(--color-dark-gray-2);
    }
    & .card__left {
      color: var(--color-gray);
    }
  }
}

.toggle {
  width: 6rem;
  height: 6rem;
  background-color: var(--color-primary);
  position: absolute;
  top: 7rem;
  right: 7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  & i {
    font-size: 4rem;
    color: var(--color-light-dark);
  }
}

.card {
  width: 48rem;
  height: 25rem;
  border-radius: 2rem;
  position: relative;
  display: flex;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.4);
  &__map {
    width: 35rem;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
  }
  &__left {
    width: 70%;
    height: 100%;
    padding: 1rem 0 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #777;
    z-index: 10;
  }
  &__type {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }
  &__chip {
    width: 6rem;
  }
  &__num {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
  &__text {
    font-size: 1.1rem;
  }
  &__date {
    font-size: 1.6rem;
    font-weight: 600;
  }
  &__holder {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__right {
    display: flex;
    align-items: flex-end;
    padding: 0 0 2rem 2rem;
    z-index: 10;
  }
}
.red-circle,
.orange-circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.red-circle {
  background-color: var(--color-red);
}
.orange-circle {
  background-color: var(--color-orange);
  margin-left: -2rem;
  opacity: 0.7;
}
