.myButtons {
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 15px;
  background-color: hsl(205, 100%, 60%);
  color: white;
}
