/* Error: $channels: Expected red channel to be a number, was #ffb900.
 *    ,
 * 96 |       background-image: linear-gradient(to right bottom, rgba($color-secondary-light));
 *    |                                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\componenets\_card.scss 96:58  @import
 *   sass\main.scss 12:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $channels: Expected red channel to be a number, was #ffb900.\a    \2577 \a 96 \2502        background-image: linear-gradient(to right bottom, rgba($color-secondary-light));\d\a    \2502                                                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\componenets\\_card.scss 96:58  @import\a   sass\\main.scss 12:9                root stylesheet";
}
