<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="blogs conetent">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat corrupti voluptate eum
                    odio quidem
                    nihil. Quaerat voluptas deserunt tempore, debitis commodi nostrum perferendis id exercitationem
                    numquam?
                    Nihil, ut tenetur?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat corrupti voluptate eum
                    odio quidem
                    nihil. Quaerat voluptas deserunt tempore, debitis commodi nostrum perferendis id exercitationem
                    numquam?
                    Nihil, ut tenetur?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellat corrupti voluptate eum
                    odio quidem
                    nihil. Quaerat voluptas deserunt tempore, debitis commodi nostrum perferendis id exercitationem
                    numquam?
                    Nihil, ut tenetur?</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>