:root {
  --color-black: rgb(0, 0, 0);
  --color-dark-blue: rgb(11, 54, 88);
  --color-light-green: rgba(206, 216, 91, 0.7);
  --color-dark-green: #b4bb65;
  --color-flor-green: #e2ec6c;
  --color-south-green: #c5c757;
  --color-cream: #e9d8d8;
  --color-white: #fff;
  --color-normal-green: rgba(159, 238, 156, 0.9);
  --color-normal-dark-green: rgba(30, 110, 6, 0.8);
  --color-normal-gray: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
