.container {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
    closest-side at 5% 10%,
    var(--color-black),
    var(--color-dark-blue) 1000%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 150rem;
  overflow: hidden;
}

.swing {
  width: 40rem;
  height: 20rem;
  background-color: var(--color-light-green);
  transform: rotateX(70deg) rotateZ(-40deg) rotateY(5deg);
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  transform-origin: top;
  &::before {
    content: "";
    width: 1rem;
    height: 100%;
    background-color: var(--color-dark-green);
    position: absolute;
    transform: rotateY(90deg);
    transform-origin: left;
  }
  &::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: var(--color-flor-green);
    position: absolute;
    bottom: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
  }
  &-1 {
    animation: swingAnim 20s infinite ease-in-out;
  }
  &-2 {
    animation: swingAnim 20s -4s infinite ease-in-out;
  }
  &-3 {
    animation: swingAnim 20s -8s infinite ease-in-out;
  }
  &-4 {
    animation: swingAnim 20s -12s infinite ease-in-out;
  }
  &-5 {
    animation: swingAnim 20s -16s infinite ease-in-out;
  }
  &-6 {
    animation: swing6Anim 4s -1s infinite ease-in-out;
    background-color: transparent;
  }
  &-6 div:not(.ball) {
    opacity: 0;
  }
  &-6::before,
  &-6::after {
    opacity: 0;
  }
}

.circle {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-south-green);
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  transform-style: preserve-3d;

  &::before {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--color-cream);
    position: absolute;
    border-radius: 50%;
    transform: translateZ(0.3rem);
  }
  &-1 {
    top: 1rem;
    left: 1rem;
  }
  &-2 {
    top: 1rem;
    right: 1rem;
  }
  &-3 {
    bottom: 1rem;
    right: 1rem;
  }
  &-4 {
    bottom: 1rem;
    left: 1rem;
  }
}

.rope {
  height: 40rem;
  width: 0.3rem;
  background-color: var(--color-white);
  position: absolute;
  transform: translateZ(20rem) rotateX(90deg) rotateY(90deg);
  transform-origin: top;
  &::before {
    content: "";
    width: 0.3rem;
    height: 23rem;
    background-color: var(--color-white);
    position: absolute;
    transform: translateY(-23rem) rotateZ(21deg);
    transform-origin: bottom;
  }
  &::after {
    content: "";
    width: 0.3rem;
    height: 23rem;
    background-color: var(--color-white);
    position: absolute;
    transform: translateY(-23rem) rotateZ(-21deg);
    transform-origin: bottom;
  }
  &-1 {
    top: 10rem;
    left: 2.5rem;
  }
  &-2 {
    top: 10rem;
    right: 2.5rem;
  }
}

.ball {
  width: 7rem;
  aspect-ratio: 1;
  background-image: radial-gradient(var(--color-normal-green), var(--color-normal-dark-green));
  position: relative;
  left: 15rem;
  top: 10rem;
  border-radius: 50%;
  transform: rotateX(90deg) rotateY(40deg);
  transform-origin: top;
  box-shadow: 0 0 0.2rem var(--color-normal-gray);
}
