*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
div.header-links{
    display: block;
    height: 300px;
    overflow: scroll;
    background-color: antiquewhite;
    text-align: center;
}
div.header-links h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
    font-size: 2em;
    margin: 10px;
    border-bottom: 1px black solid;

}
div.header-links a{
    display: inline-block;
    padding: 5px;
    margin: 2px;
    background-color: #e3e3e3;
    color:black;
}
div.header-links a:hover{
    background-color: #9f9f9f;
}
a.iframes{
    display: block;
    float: left;
    width:400px;
    height: 440px;
    padding: 10px;
    margin: 10;
    background-color: rgb(186, 186, 186);
    border: 1px solid gray;
    text-align: center;
}
a.iframes:hover{
    background-color: rgb(157, 157, 157);
    border:2px solid gray;
} 
a.iframes p{
    display: block;
    background-color: rgb(158, 158, 158);
    padding: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aliceblue;

}
a.iframes p:hover{
    background-color:rgb(117, 117, 117);
}

a.iframes iframe{
    margin: auto;
    width: 350px;
    height: 350px;
    display: block;

}