.header{
    background-color: #7695fe;
    border:thin #336699 solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.header h1{
    margin: 0px;
    color: white;
    font-size: xx-large;
}

.header .Teaser{
    margin: 0px;
    font-weight: bold;
}

.header .byline{
    font-style: italic;
    font-size: small;
    margin: 0px;
}